/*

************
Fonts to use 
************

Kaushan Script Regular for all handwriting

Montserrat Bold 
---------------

All headings
Learn more button


Montserrat Regular
------------------

Roboto Regular
-------------

All normal paragraphs

Roboto Light Italic
-------------------


font-family: 'Kaushan Script', cursive;
font-weight: 400;


font-family: 'Montserrat', sans-serif;
font-weight: 400, 700;

font-family: 'Roboto', sans-serif;
font-weight: 300 italic, 400


*************
colors to use
*************

Red
------ 
Hex: #f38181;
RGB: 243, 129, 129

Yellow
_______

Hex: #fce38a;
RGB: 252, 227, 138

Green
_______

Hex: #eaffd0
RGB: 234, 255, 208

Blue
______
Hex: #95e1d3;
RGB: 149, 225, 211


Overlay Value
linear-gradient(180deg, rgba(243,129,129,0.90) 0%, rgba(252,227,138,0.90) 100%), 

*/


header {
    background: center / cover no-repeat linear-gradient(180deg, rgba(243,129,129,0.90) 0%, rgba(252,227,138,0.90) 100%), url("img/bird-banner.png");
    color: #ffffff;
    height: 100vh;
}

.navbar-brand, .nav-link {
    color: #ffffff;
}

.navbar-brand:hover {
    color: #ffffff;
}

.nav-link:hover, .nav-link:focus {
    color: #fce38a;
    border-bottom: 2px solid #fce38a;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

h1 small, h2 small {
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    text-transform: none;
}

h1 {
    font-size: 4.5em;
    text-align: center;
}

h1 small {
    display: block;
    font-size: 2.3rem;
}
